.DS_Store
/Makefile
dat/Makefile
doc/Makefile
src/Makefile
util/Makefile
*.o
include/onames.h
include/pm.h
src/monstr.c
*.h-t
dat/options
include/date.h
include/vis_tab.h
src/vis_tab.c
src/Sysunix
src/nethack
doc/Guidebook
include/dgn_comp.h
include/lev_comp.h
